@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,900&display=swap');
.v-alert__content {
  font-family: "Roboto", sans-serif;
}
.v-alert__icon {
  margin-right: 10px;
}
.margin-text {
  max-width: 40%;
}